@import "../../mixins.less";

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.77);
    z-index: 1;

    .popup {
        position: absolute;
        top: calc(184 * @y-scale);
        left: calc(173 * @x-scale);
        width: calc(467 * @x-scale);
        z-index: 2;
    }

    .close-btn {
        position: absolute;
        top: calc(823 * @y-scale);
        left: 0;
        right: 0;
        width: calc(59 * @x-scale);
        margin: auto;
        pointer-events: auto;
        z-index: 2;
    }
}

.head {
    position: absolute;
    right: 0;
    width: calc(736 * @x-scale);
}

.fireworks {
    position: absolute;
    top: calc(1035 * @y-scale);
    left: calc(-19 * @x-scale);
    width: calc(124 * @x-scale);
}

.box {
    position: absolute;
    top: calc(686 * @y-scale);
    left: 50%;
    transform: translate(-50%, -50%);
}

.flash {
    position: absolute;
    top: calc(215 * @y-scale);
    width: 100vw;
}

.spotlight {
    position: absolute;
    width: 100vw;
}

.big-btn {
    position: absolute;
    top: calc(1098 * @y-scale);
    left: 0;
    right: 0;
    width: calc(396 * @x-scale);
    height: calc(119 * @y-scale);
    margin: auto;
    font-size: calc(53 * @x-scale);
}

.small-btn {
    position: absolute;
    top: calc(1098 * @y-scale);
    width: calc(269 * @x-scale);
    height: calc(81 * @y-scale);
    font-size: calc(33 * @x-scale);
}

.small-btn-left {
    left: calc(73 * @x-scale);
}

.small-btn-right {
    left: calc(395 * @x-scale);
}
