@import "../../mixins.less";

.container {
    display: flex;
}

.input-container {
    display: flex;
    position: relative;
    width: calc(635 * @x);
    height: calc(89 * @x);
    color: #ffe7af;
    font-size: calc(34 * @x);
    font-weight: 300;
}

.label {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: calc(8 * @x) calc(5 * @x) calc(8 * @x) calc(40 * @x);
    line-height: calc(34 * @x);
    background-color: #fa383b;
}

.input {
    width: 80%;
    padding-right: calc(40 * @x);
    caret-color: #ffe7af;
    text-align: right;
    font-family: "vivo";
    outline: none;
    border: none;
    background-color: #ad0e10;
}

input::placeholder {
    color: lightgray;
}

.cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
}

@supports (-webkit-mask: none) and (not (cater-color: red)) {
    .input {
        color: #ffe7af;
    }

    .input::first-line {
        // color: #ffe7af;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
