@import "../../mixins.less";

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.head {
    position: absolute;
    top: calc(96 * @y-scale);
    right: 0;
    width: calc(736 * @x-scale);
}

.big-card {
    position: absolute;
    top: calc(154 * @y-scale);
    left: calc(91 * @x-scale);
    width: calc(571 * @x-scale);
}

.small-card-list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(936 * @y-scale);
    left: 0;
    right: 0;
    width: calc(690 * @x-scale);
    margin: 0 auto;

    .small-card {
        position: relative;
        width: calc(130 * @x-scale);

        .badge {
            position: absolute;
            right: 0;
            width: calc(36 * @x-scale);
            transform: translate(20%, -25%);
        }

        .card {
            width: 100%;
        }
    }
}

.btn {
    position: absolute;
    top: calc(1174 * @y-scale);
    left: 0;
    right: 0;
    width: calc(313 * @x-scale);
    height: calc(93 * @y-scale);
    margin: auto;
}
