@import "./mixins.less";

@font-face {
    font-family: "vivo";
    src: url("/fonts/vivo-type-Light.eot");
    src: url("/fonts/vivo-type-Light.eot?#iefix") format("embedded-opentype"),
        url("/fonts/vivo-type-Light.woff2") format("woff2"),
        url("/fonts/vivo-type-Light.woff") format("woff"),
        url("/fonts/vivo-type-Light.ttf") format("truetype"),
        url("/fonts/vivo-type-Light.svg#VCustom FontS Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "vivo";
    src: url("/fonts/vivo-type-Bold.eot");
    src: url("/fonts/vivo-type-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/vivo-type-Bold.woff2") format("woff2"),
        url("/fonts/vivo-type-Bold.woff") format("woff"),
        url("/fonts/vivo-type-Bold.ttf") format("truetype"),
        url("/fonts/vivo-type-Bold.svg#VCustom FontS Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "vivo";
    src: url("/fonts/vivo-type-Regular.eot");
    src: url("/fonts/vivo-type-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/vivo-type-Regular.woff2") format("woff2"),
        url("/fonts/vivo-type-Regular.woff") format("woff"),
        url("/fonts/vivo-type-Regular.ttf") format("truetype"),
        url("/fonts/vivo-type-Regular.svg#VCustom FontS Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: vivo;
    background-image: url(./assets/images/background/logo.png),
        url(./assets/images/background/background.png);
    background-position: calc(60 / @page-w * 100%) calc(30 / @page-h * 100%), center;
    background-size: calc(166 / @page-w * 100%) auto, calc(76 / @page-w * 100%) auto;
    background-repeat: no-repeat, repeat;
}

.btn-touched,
.btn-normal {
    user-select: none;
}

.btn-touched {
    filter: brightness(0.93);
    transform: scale(0.98, 0.98);
}

.btn-normal {
}
